#######################################
# Application
#######################################

NODE_ENV=production
PORT=3000

#######################################
# Database
#######################################

# MongoDB connection string
# For docker-compose, service name "mongo" is used as host
MONGODB_URI=mongodb://mongo:27017/shop