# Application
PORT=3000
NODE_ENV=production

# Mongo
MONGODB_URI=mongodb://mongo:27017/shop

# Demo checkout mode
STRIPE_KEY=""

# Security
SESSION_SECRET=replace_me

PAYMENT_MODE=demo
MONGO_USER=gbloch
MONGO_PWD=gaetan.bloch
MONGO_DB=shop
STRIPE_KEY=""
PORT=3000
