############################
# Node.js
############################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

############################
# Environment / Secrets
############################
.env
.env.*
/env/prod*
prod.tfvars
*.tfvars

############################
# Terraform
############################
.terraform/
*.tfstate
*.tfstate.*
crash.log
infra/terraform-backend/.terraform
infra/terraform/.terraform/providers
############################
# OS
############################
.DS_Store
