services:
  app:
    image: ${APP_IMAGE}
    container_name: nodejs-shopping-app
    ports:
      - "80:3000"
    environment:
      PORT: "3000"
      MONGODB_URI: "mongodb://mongo:27017/shop"
    depends_on:
      - mongo
    restart: unless-stopped

  mongo:
    image: mongo:6
    container_name: mongo
    volumes:
      - mongo-data:/data/db
    restart: unless-stopped

volumes:
  mongo-data:
