name: Deploy

on:
  push:
    branches: [ main ]

permissions:
  contents: read
  packages: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & push image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ghcr.io/tsemba/nodejs-shopping:${{ github.sha }}

      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.EC2_SSH_KEY }}

      - name: Deploy via Ansible
        run: |
          ansible-playbook -i ansible/inventory.ini ansible/playbook.yml \
            -e app_image=ghcr.io/tsemba/nodejs-shopping:${{ github.sha }} \
            -e ghcr_username=${{ github.actor }} \
            -e ghcr_token=${{ secrets.GITHUB_TOKEN }}
